.navbar{
    width: 100%;
    height: auto;
    bottom: 0;
    left: 0;
    background-color: rgb(47, 47, 49);
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 20px 20px;
    position: absolute;
    
}

.navbar a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    cursor: pointer;
    padding: 10px;
}

.navbar a:hover{
    color: #d5e2e6;
}

